<div>
    <div class="d-flex flex-column accountPage">
        <h1 class="usernameH1">{{username}}</h1>
        <hr class="hracc">
        <h3 class="showTitle">Your Showcase:</h3>
        <div class="case d-flex flex-row ">
            {{#if 1}}
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="./photos/sun Vitaly Gorbachev.png">
                <p class="medalName">The first hill </p>
            </div>
            {{/if}}
            {{#if 2}}
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="./photos/sun Vitaly Gorbachev.png">
                <p class="medalName">The first hill </p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/couple Vitaly Gorbachev.png">
                <p class="medalName">Double Dutch</p>
            </div>
            {{/if}}
            {{#if 3}}
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="./photos/sun Vitaly Gorbachev.png">
                <p class="medalName">The first hill </p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/couple Vitaly Gorbachev.png">
                <p class="medalName">Double Dutch</p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/trilogy Vitaly Gorbachev.png">
                <p class="medalName">Trilogy</p>
            </div>
            {{/if}}
            {{#if 4}}
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="./photos/sun Vitaly Gorbachev.png">
                <p class="medalName">The first hill </p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/couple Vitaly Gorbachev.png">
                <p class="medalName">Double Dutch</p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/trilogy Vitaly Gorbachev.png">
                <p class="medalName">Trilogy</p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/coin quarter.png">
                <p class="medalName">No quarter given</p>
            </div>
            {{/if}}
            {{#if 5}}
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="./photos/sun Vitaly Gorbachev.png">
                <p class="medalName">The first hill </p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/couple Vitaly Gorbachev.png">
                <p class="medalName">Double Dutch</p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/trilogy Vitaly Gorbachev.png">
                <p class="medalName">Trilogy</p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/coin quarter.png">
                <p class="medalName">No quarter given</p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/hello Vitaly Gorbachev.png">
                <p class="medalName">High five</p>
            </div>
            {{/if}}
            {{#if 6}}
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="./photos/sun Vitaly Gorbachev.png">
                <p class="medalName">The first hill </p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/couple Vitaly Gorbachev.png">
                <p class="medalName">Double Dutch</p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/trilogy Vitaly Gorbachev.png">
                <p class="medalName">Trilogy</p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/coin quarter.png">
                <p class="medalName">No quarter given</p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/hello Vitaly Gorbachev.png">
                <p class="medalName">High five</p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/Church Vitaly Gorbachev.png">
                <p class="medalName">Six ways to Sunday</p>
            </div>
            {{/if}}
            {{#if 7}}
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="./photos/sun Vitaly Gorbachev.png">
                <p class="medalName">The first hill </p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/couple Vitaly Gorbachev.png">
                <p class="medalName">Double Dutch</p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/trilogy Vitaly Gorbachev.png">
                <p class="medalName">Trilogy</p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/coin quarter.png">
                <p class="medalName">No quarter given</p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/hello Vitaly Gorbachev.png">
                <p class="medalName">High five</p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/Church Vitaly Gorbachev.png">

                <p class="medalName">Six ways to Sunday</p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/clover Vitaly Gorbachev.png">

                <p class="medalName">Lucky number seven</p>
            </div>
            {{/if}}
            {{#if 8}}
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="./photos/sun Vitaly Gorbachev.png">
                <p class="medalName">The first hill </p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/couple Vitaly Gorbachev.png">
                <p class="medalName">Double Dutch</p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/trilogy Vitaly Gorbachev.png">
                <p class="medalName">Trilogy</p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/coin quarter.png">
                <p class="medalName">No quarter given</p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/hello Vitaly Gorbachev.png">
                <p class="medalName">High five</p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/Church Vitaly Gorbachev.png">

                <p class="medalName">Six ways to Sunday</p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                <img class="medal" src="/photos/clover Vitaly Gorbachev.png">

                <p class="medalName">Lucky number seven</p>
            </div>
            <div class="d-flex align-items-center flex-column medalBox">
                {{!-- <img class="unmedal" src="/photos/8 Vitaly Gorbachev.png"> --}}

                <p class="medalName">Behind the eight ball</p>
            </div>
            {{/if}}
        </div>
    </div>
</div>