<h1 class="merriweather">{{username}}</h1>
<hr>
<h3>Your Showcase</h3>
<div class="case">
    <div>
        <div class="medal">
        </div>
        <p>The first hill </p>
    </div>
    <div>
        <div class="medal">
        </div>
        <p>Double Dutch</p>
    </div>
    <div>
        <div class="medal">
        </div>
        <p>Trilogy</p>
    </div>
    <div>
        <div class="medal">
        </div>
        <p>No quarter given</p>
    </div>
<div class="case">
    <div>
        <div class="medal">
        </div>
        <p>High five</p>
    </div>
    <div>
        <div class="medal">
        </div>
        <p>Six ways to Sunday</p>
    </div>
    <div>
        <div class="medal">
        </div>
        <p>Four score and seven years ago</p>
    </div>
    <div>
        <div class="medal">
        </div>
        <p>Behind the eight ball</p>
    </div>

</div>