    <h3 class="merriweather">Your Account:</h3>

<div class="">
    <h1 class="text-center merriweather">{{book.title}}</h1>
    <img class="book" src="/photos/book_vecteezy.jpg" alt="a book">
    <hr>
    <h2 class="text-center merriweather" id="timeLeft">{{timeRemaining}}</h2>
    <button class="btn btn-primary" onclick="resume()">Start Timer</button>
    <button class="btn btn-primary" onclick="pause()">Pause</button>
    
</div>

<script src="/js/book.js"></script>

