    <h3 class="merriweather">Your Account:</h3>
<div class="d-flex justify-content-center flex-column align-items-center">
    <h1 class="text-center merriweather bookTitle">{{bookTitle}}</h1>
    <img class="book" src="./photos/book_vecteezy.jpg" alt="a book">
    <hr class="hrlog">
    <h2 class="text-center merriweather">{{timeLeft}}</h2>
</div>