    <h3 class="merriweather">Your Account:</h3>
<div class="">
    <h1 class="merriweather">{{bookTitle}}</h1>
    <img class="book" src="/photos/book_vecteezy.jpg" alt="a book">
    <hr>
    <h2 class="merriweather">{{timeLeft}}</h2>
</div>