
    <h3>Your Account:</h3>
<div class="">
    <h1>Choose a Book...</h1>
    <img class="glass" src="/photos/magnifying-glass-shutterstock.jpg" alt="a magnifying glass">
    <hr>
    <button href="">Search</button>
</div>