
    <h3 class="merriweather">Your Account:</h3>
<div class="">
    <h1 class="merriweather">Choose a Book...</h1>
    <img class="glass" src="/photos/magnifying-glass-shutterstock.jpg" alt="a magnifying glass">
    <hr>
    <button class="merriweather" href="">Search</button>
</div>