<div>
    <div class="container w-50">
        <h1 class="text-center">Log In</h1>
        <form>
            <div class="row g-3">
                <div class="col md-6">
                    <label>Username</label>
                    <input class="form-control" type="username"></input>
                </div>
                <div class = "col md-6">
                    <label>Password</label>
                    <input class="form-control" type="password"></input>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="container w-50">
        <h3 class="text-center merriweather">No Account?</h3>
        <form>
            <div class="row">
                <div class="col">
                    <label>Username</label>
                    <input class="form-control" type="username"></input>
                </div>
                <div class = "col">
                    <label>Password</label>
                    <input class="form-control" type="password"></input>
                </div>
            </div>
        </form>
    </div>
        
</div>