
:root {
    --light-blue: #B9E8F6;
    --grey-blue: #91B2C5;
    --dark-blue: #4F6C7C;
    --white: white;
    --black: black;
};


.merriweather {
    font-family: 'Merriweather', serif;
};
.raleway {
    font-family: 'Raleway', sans-serif;
};